<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wrep.penjualanbarang"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/aplikasilauncher"
        android:label="WREPSHOP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="User" />
        <activity
            android:name=".TambahData"
            android:label="@string/tambah" />
        <activity
            android:theme="@style/AppTheme2"
            android:name=".AdminMain"
            android:label="Admin" />
        <activity
            android:name=".DetailItem"
            android:label="@string/detail" />
        <activity
            android:name=".UpdateData"
            android:label="@string/update" />

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="com.example.wrep.penjualanbarang.com.squareup.picasso"
            android:exported="false" />

        <activity android:label="Keranjang" android:name=".Keranjang" />
        <activity android:label="Transaksi" android:name=".Transaksi" />
        <activity android:name=".Laporan"></activity>
    </application>

</manifest>